* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1.4;
}
article {
  border: 5px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}
.margin-big {
  margin-bottom: 20px;
}
.margin-small {
  margin-bottom: 10px;
}
h2 {
  text-align: center;
  background-color: #f7f7f7;
  font-size: 22px;
  padding: 15px 0;
}
.uppercased {
  text-transform: uppercase;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
li {
  list-style: square;
  margin-left: 20px;
  margin-bottom: 10px;
}
strong {
  font-size: 24px;
}
.normal {
  font-weight: bold;
  font-size: 12px;
  color: #777;
}
button {
  color: white;
  background-color: black;
  font-size: 20px;
  border: 0;
  width: 100%;
  padding: 15px;
  border-top: 4px solid black;
}
button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
article::before {
  content: "SALE";
  letter-spacing: 2px;
  position: absolute;
  padding: 5px 15px;
  color: white;
  background-color: red;
  top: -20px;
  left: -40px;
}
.colors-container {
  margin: 20px 0;
}
.inline-block {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  background-color: #444;
}
.colors-container:last-child {
  margin-right: 0;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.brown {
  background-color: brown;
}
.shipping {
  float: right;
  margin-top: 8px;
}
.price {
  float: left;
}
.clearfix {
  clear: both;
  margin-bottom: 10px;
}
img {
  float: left;
}
/* width calculations ->  (825-8-250-80)/2=243px*/
.description {
  float: left;
  width: 243px;
  margin: 0 40px;
  margin-top: 15px;
}
.details {
  float: left;
  width: 243px;
}
